@import '/src/styles/resources/';

.section {
    padding: 6em 0;
    position: relative;
}

.content {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: center;
}

.block {
    width: 19.5em;
    border: 1px solid $black;
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em;

    @include tablet-large {
        width: 47%;
    }

    @include tablet {
        width: 80%;
    }

    @include phone {
        width: 100%;
    }
}

.description {
    @include description(16px);
}

.left_leaves {
    position: absolute;
    left: 0;
    top: 0;
}

.right_leaves {
    position: absolute;
    right: 0;
    top: 0;
}

.left_leaves {
    @include tablet-large {
        width: 190px;
        height: 145px;
    }
}

.right_leaves {
    @include phone {
        width: 200px;
        height: 150px;
    }
}