@import "/src/styles/resources/";

.section {
    background: $light-green;
    padding: 6em 0;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.description {
    @include description(16px);
    margin: 1em 0 2em;
}

.button {
    display: inline;
}