@import '/src/styles/resources/';

.wrapper {
  @include full-width-content;
  padding: 1em 0;
}

.logo {
  font-size: 24px;
  font-family: $secondary-font-family;
}

.linksWrapper {
  @include flexible;
  gap: 2em;

  a {
    font-size: 16px;
    opacity: .7;
    @include transition;

    &:hover {
      opacity: 1;
    }
  }
}
