/* ---- Specification ---- */
* {
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    @include reset-indents();
    background: $bg-color;
    font-family: $main-font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $font-color;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    @include reset-indents();
}

h1, h2, h3 {
    font-weight: 600;
}

h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
    font-family: 'Mak', cursive;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

p {
    @include reset-indents();
}

a {
    @include reset-indents();
    display: block;
    color: inherit;
    text-decoration: none;
}

img {
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input,
button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}
