/* ---- Variables ---- */
/* -- Colors -- */
$black: #000000;
$white: #ffffff;
$light-green: #E0E1D9;
$bg-color: #F6F6F4;
$accent-color: #173209;

/* -- Buttons -- */
$btn-dark-bg-hover: #455B3A;
$btn-dark-bg-active: #122807;
$btn-dark-color-hover: $white;
$btn-dark-color-active: $white;

$btn-ghost-bg-hover: $accent-color;
$btn-ghost-bg-active: #122807;
$btn-ghost-color-hover: $white;
$btn-ghost-color-active: $white;

$btn-white-bg-hover: #E0E1D9;
$btn-white-bg-active: #B3B4AE;
$btn-white-color-hover: $black;
$btn-white-color-active: $black;

/* -- Typography -- */
$main-font-family: 'Montserrat Alternates', sans-serif;
$secondary-font-family: 'Mak', sans-serif;
$font-size: 20px;
$font-weight: 400;
$font-color: $black;

$h1-font-size: 52px;
$h2-font-size: 48px;
$h3-font-size: 28px;
$h4-font-size: 20px;
$h5-font-size: 16px;

/* -- Transition -- */
$transition-property: all;
$transition-delay: .2s;
$transition-timing: ease;

/* -- Media Query Breakpoints -- */
$phone: 480;
$phablet: 576;
$tablet: 768;
$tablet-large: 992;
$laptop: 1200;
$desktop: 1400;

/* -- Gutters -- */
$header-padding-desktop-gutter: 25px;
$header-padding-tablet-large-gutter: 15px;
$header-padding-tablet-gutter: 15px;
$header-padding-phablet-gutter: 15px;

/* -- Link -- */
$link-hover-opacity: 0.7;

